<main>
  <div class="titulo">
    <h1>Neurologia Pediátrica</h1>
  </div>
  <div class="img">
    <img src="pediatrica/pexels-gustavo-fring-7446993.jpg" alt="Imagem Psiquiatra">
  </div>
  <section>
    <h2>A especialidade</h2>

    <p>A <strong>Neurologia Pediátrica</strong> é uma subespecialidade da Neurologia que se dedica ao diagnóstico, tratamento e acompanhamento de doenças e distúrbios neurológicos em crianças, desde a fase neonatal até a adolescência. Essa área da medicina foca na identificação de condições que afetam o cérebro, a medula espinhal, os nervos periféricos e os músculos, com ênfase nas particularidades do desenvolvimento neurológico infantil.</p>

    <p>Entre as condições tratadas pela Neurologia Pediátrica, estão:</p>

    <ul>
      <li><strong>Distúrbios do desenvolvimento neurológico</strong>, como o autismo e o TDAH (Transtorno de Déficit de Atenção e Hiperatividade);</li>

      <li><strong>Epilepsias infantis</strong>, incluindo convulsões e síndromes epilépticas raras;</li>

      <li><strong>Paralisia cerebral</strong>, que envolve lesões no cérebro que afetam o controle motor;</li>

      <li><strong>Transtornos neuromusculares</strong>, como a distrofia muscular e outras doenças que afetam os músculos e nervos periféricos;</li>

      <li><strong>Distúrbios neurológicos genéticos</strong> e metabólicos, que podem impactar o desenvolvimento e o funcionamento do sistema nervoso;</li>

      <li><strong>Lesões cerebrais adquiridas</strong>, como traumatismos cranianos, infecções do sistema nervoso e tumores cerebrais.</li>
    </ul>

    <p>A Neurologia Pediátrica requer um olhar especializado para as mudanças que ocorrem no cérebro e no sistema nervoso à medida que a criança cresce, pois muitas condições podem se manifestar de formas diferentes em crianças, se comparadas aos adultos.</p>

    <p>No nosso serviço, contamos com <strong>profissionais altamente capacitados e dedicados</strong>, com ampla experiência no cuidado de crianças com distúrbios neurológicos. Nossa equipe é formada por neurologistas pediátricos qualificados, que estão em constante atualização, oferecendo atendimento de excelência, humanizado e focado nas necessidades de cada paciente.</p>
  </section>

  <div class="agendar">
    <div>
      <p><a href="/agendar">Agendar consulta</a></p>
    </div>
    <p><strong>Faça o agendamento online. <br> É fácil, rápido e seguro.</strong></p>
  </div>
</main>
