<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/13.16.0/simpleicons.svg">
<footer>
  <p>&copy; 2024 por Clínica Médica.</p>
  <p>Suporte: <a href="#">gersuporte&#64;exemplo.com</a></p>
  <p>Tel: (11) 00000-0000</p>
  <div class="img">
    <a href="#"><img src="icones/whatsapp.png" alt="Ícone do whatsapp"></a>
    <a href="#"><img src="icones/instagram.png" alt="Ícone do Instagram"></a>
    <a href="#"><img src="icones/facebook.png" alt="Ícone do Facebook"></a>
  </div>
</footer>
