<main>
  <section>
    <h1>Entre em contato</h1>
    <p>Entre em contato com a nossa central e tire suas dúvidas</p>
  </section>
  <section>
    <form action="cadastro.php">
      <ul>
        <li>Nome: <input type="text" placeholder="Nome" class="caixa"></li>
        <li>Email: <input type="email" name="email" id="email" placeholder="E-mail" class="caixa"></li>
        <li>Tel: <input type="number" name="num" id="num" placeholder="Telefone" class="caixa"></li>
        <li><textarea name="texto" id="texto" placeholder="Digite sua mensagem aqui..."></textarea></li>
        <li><input type="submit" value="Enviar" id="enviar"></li>
      </ul>
    </form>
  </section>
</main>
