<main>
  <div class="titulo">
    <h1>Agendamento</h1>
  </div>
  <section>
    <div class="img">
      <img src="Psiquiatria/pexels-cottonbro-4098287.jpg" alt="Psiquiatria">
    </div>
    <h2>Consulta: Psiquiatria</h2>
    <p>1 h</p>
    <p>R$ 100,00</p>
    <p><a href="/agendar">Agendar</a></p>
  </section>

  <section>
    <div class="img">
      <img src="neurologia/pexels-shvetsa-4226264.jpg" alt="Neurologia">
    </div>
    <h2>Consulta: Neurologia</h2>
    <p>1 h</p>
    <p>R$ 450,00</p>
    <p><a href="/agendar">Agendar</a></p>
  </section>
  <section>

    <div class="img">
      <img src="pediatrica/pexels-gustavo-fring-7446993.jpg" alt="Neurologia Pediátrica">
    </div>
    <h2>Consulta: Neurologia Pediátrica</h2>
    <p>1 h</p>
    <p>R$ 320,00</p>
    <p><a href="/agendar">Agendar</a></p>
  </section>
</main>
