<main>
  <div class="titulo">
    <h1>Psiquiatria</h1>
  </div>
  <div class="img">
    <img src="Psiquiatria/pexels-cottonbro-4098287.jpg" alt="Imagem Psiquiatra">
  </div>
  <section>
    <h2>A especialidade</h2>

    <p>A <strong>psiquiatria</strong> é a especialidade médica voltada para o diagnóstico, tratamento e prevenção de transtornos mentais. Ela lida com uma ampla variedade de condições que afetam o comportamento, as emoções, o pensamento e o funcionamento cognitivo do ser humano. Alguns dos principais transtornos tratados pela psiquiatria incluem depressão, ansiedade, transtornos de personalidade, esquizofrenia, transtornos bipolares, entre outros.</p>

    <p>Os psiquiatras são médicos especializados que utilizam uma combinação de avaliação clínica, exames médicos, tratamentos farmacológicos e, quando necessário, terapias psicoterapêuticas para ajudar os pacientes a gerenciar e superar suas condições. Além disso, a psiquiatria também está envolvida no acompanhamento de pacientes com doenças psiquiátricas crônicas, oferecendo apoio ao longo do tratamento e estratégias para melhorar a qualidade de vida.</p>

    <p>Com o avanço das ciências médicas, a psiquiatria tem se tornado cada vez mais precisa, utilizando ferramentas de diagnóstico modernas, além de terapias inovadoras que visam atender as necessidades individuais de cada paciente. O tratamento adequado é essencial para promover o bem-estar emocional e mental, melhorando a saúde geral e a qualidade de vida dos indivíduos.</p>

    <p>É importante ressaltar que contamos com <strong>profissionais qualificados e capacitados</strong> para realizar o diagnóstico e o tratamento de maneira ética, humanizada e com o máximo de atenção ao cuidado do paciente. Eles são treinados para lidar com a complexidade das condições mentais, buscando sempre o melhor caminho para a recuperação e o equilíbrio emocional de cada pessoa.</p>
  </section>

  <div class="agendar">
    <div>
      <p><a href="/agendar">Agendar consulta</a></p>
    </div>
    <p><strong>Faça o agendamento online. <br> É fácil, rápido e seguro.</strong></p>
  </div>
</main>
