<main>
  <div class="titulo">
    <h1>Neurologia</h1>
  </div>
  <div class="img">
    <img src="neurologia/pexels-shvetsa-4226264.jpg" alt="Imagem Psiquiatra">
  </div>
  <section>
    <h2>A especialidade</h2>

    <p> A <strong>Neurologia</strong> é uma especialidade médica que se dedica ao estudo, diagnóstico e tratamento das doenças do sistema nervoso, tanto central (cérebro e medula espinhal) quanto periférico (nervos que conectam o cérebro e a medula ao resto do corpo). O neurologista é o médico especializado em identificar e tratar condições neurológicas, que podem afetar desde funções motoras, cognitivas e sensoriais, até a coordenação e o equilíbrio do corpo.</p>

    <p>Entre as principais condições tratadas pela Neurologia estão doenças como <strong>acidente vascular cerebral (AVC)</strong>, <strong>esclerose múltipla</strong>, <strong>Doença de Parkinson</strong>, <strong>epilepsia</strong>, <strong>enxaquecas</strong>, e . Além disso, a Neurologia também abrange problemas relacionados à dor neuropática, lesões na medula espinhal, distúrbios musculares e doenças genéticas que afetam o sistema nervoso.</p>

    <p>Essa especialidade é fundamental para o diagnóstico preciso de doenças neurológicas e para o desenvolvimento de tratamentos que visam melhorar a qualidade de vida dos pacientes, minimizando sintomas e prevenindo complicações.</p>

    <p>Em nossa clínica, contamos com <strong>profissionais qualificados e capacitados</strong>, prontos para oferecer o melhor cuidado, utilizando tecnologias avançadas e abordagens personalizadas para cada caso. A saúde neurológica é essencial para o bem-estar, e estamos aqui para garantir que você receba o suporte adequado para viver de maneira plena e saudável.</p>
  </section>

  <div class="agendar">
    <div>
      <p><a href="/agendar">Agendar consulta</a></p>
    </div>
    <p><strong>Faça o agendamento online. <br> É fácil, rápido e seguro.</strong></p>
  </div>
</main>
