/* Importando fonte da logo */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

main {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 360px;
  max-width: 640px;
  margin: auto;

  .titulo {
    background-color: rgb(36, 196, 36);
    padding: 10px;
    margin-bottom: 20px;

    h1 {
      font-family: "Sour Gummy", sans-serif;
      color: #fff;
    }
  }

  div.agendar {

    div {
      background-color: blueviolet;
      text-align: center;
      width: 60%;
      padding: 5px;
      margin: auto;
    a {
        color: #fff;
        text-decoration: none;
    }
  }
  p {
      font-weight: emem;
  }
}

  h2 {
    color: green;
  }
}

.img {
  min-width: 360px;
  max-width: 640px;
  margin: auto;
}

img {
  width: 100%;
}
