<!-- nav-bar.component.html -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />

<div id="icone">
  <span class="material-symbols-outlined" #menu>menu</span>
</div>

<nav #nav id="nav" style="display: none;">
  <div id="icMenu">
    <span class="material-symbols-outlined" #X>X</span>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="espec">Especialidades</a></li>
    <li><a href=""></a></li>
    <li><a href="/comunidade">Comunidade</a></li>
    <li><a href="/sobre">Sobre Nós</a></li>
    <li><a href="/contato" id="contato">Contato</a></li>
  </ul>
</nav>
