div {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 5px;
    right: 5px;
}

span {
    color: blueviolet;
    cursor: pointer;
}

#nav {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 100%;
  background-color: blueviolet;
  opacity: 0.7;
  padding: 10px;

  #icMenu {
    position: absolute;
    top: 40px;
    background-color: #fff;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    font-size: 1.5;
  }
  #espec {
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #interno {
        display: none;
    }
  }
  li {
    color: #fff;
    font-weight: bolder;
    font-size: 1.8em;
    line-height: 80px;
  }
  li select {
    width: 20px;
    cursor: pointer;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #fff;
  }
}

@media (min-width: 1064px) {
  #icone {
    display: block;
  }
}
