<main>
  <div class="login">
    <h2>Login</h2>
    <form id="form-login">
      <label for="email">CRM:</label>
      <input type="text" id="email" name="email" #email required><br><br>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" #senha required><br><br>

      <!-- Alterei para "type='button'" para evitar submissão do formulário diretamente -->
      <button id="entrar" name="entrar" type="button" #entrar>Entrar</button>

      <p>Não tem conta? <a href="/cadastro-medico" id="cadastrar">Cadastrar</a></p>
    </form>
  </div>
</main>
