<main>
  <!-- Sessão Psiquiatria -->
  <section>
    <div class="titulo">
      <h1>Psiquiatria</h1>
    </div>
    <div class="img">
      <img src="Psiquiatria/pexels-cottonbro-4098287.jpg" alt="Imagem Psiquiatra">
    </div>

    <h2>A especialidade</h2>

    <p>A <strong>psiquiatria</strong> é a especialidade médica voltada para o diagnóstico, tratamento e prevenção de transtornos mentais. Ela lida com uma ampla variedade de condições que afetam o comportamento, as emoções, o pensamento e o funcionamento cognitivo do ser humano. Alguns dos principais transtornos tratados pela psiquiatria incluem depressão, ansiedade, transtornos de personalidade, esquizofrenia, transtornos bipolares, entre outros.</p>

    <div class="agendar">
      <div>
        <a href="/psiquiatria">Saiba mais</a>
      </div>
    </div>
  </section>

  <!-- Sessão Neurologia -->
  <section>
    <div class="titulo">
      <h1>Neurologia</h1>
    </div>
    <div class="img">
      <img src="neurologia/pexels-shvetsa-4226264.jpg" alt="Imagem Psiquiatra">
    </div>

    <h2>A especialidade</h2>

    <p> A <strong>Neurologia</strong> é uma especialidade médica que se dedica ao estudo, diagnóstico e tratamento das doenças do sistema nervoso, tanto central (cérebro e medula espinhal) quanto periférico (nervos que conectam o cérebro e a medula ao resto do corpo). O neurologista é o médico especializado em identificar e tratar condições neurológicas, que podem afetar desde funções motoras, cognitivas e sensoriais, até a coordenação e o equilíbrio do corpo.</p>

    <div class="agendar">
      <div>
        <a href="/neurologia">Saiba mais</a>
      </div>
    </div>
  </section>

  <!-- Sessão Pediatria -->
  <section>
    <div class="titulo">
      <h1>Neurologia Pediátrica</h1>
    </div>
    <div class="img">
      <img src="pediatrica/pexels-gustavo-fring-7446993.jpg" alt="Imagem Psiquiatra">
    </div>

        <h2>A especialidade</h2>

        <p>A <strong>Neurologia Pediátrica</strong> é uma subespecialidade da Neurologia que se dedica ao diagnóstico, tratamento e acompanhamento de doenças e distúrbios neurológicos em crianças, desde a fase neonatal até a adolescência. Essa área da medicina foca na identificação de condições que afetam o cérebro, a medula espinhal, os nervos periféricos e os músculos, com ênfase nas particularidades do desenvolvimento neurológico infantil.</p>

        <div class="agendar">
          <div>
            <a href="/neurologia-pediatrica">Saiba mais</a>
          </div>
        </div>
  </section>
</main>
