<main>
  <section>
    <h1>Quem Somos?</h1>

    <p>Bem-vindo à nossa clínica de consultas online, especializada em Psiquiatria, Neurologia e Neurologia Pediátrica. Somos uma equipe dedicada de profissionais altamente qualificados, comprometidos em proporcionar um atendimento humanizado e eficaz, de forma totalmente remota e acessível.</p>

    <div class="img">
      <img src="sobre/pexels-cottonbro-4100665.jpg" alt="">
    </div>

    <p>Sabemos que a saúde mental e neurológica são pilares essenciais para o bem-estar e qualidade de vida, e por isso, nossa missão é oferecer cuidados especializados, com segurança, empatia e eficiência, de qualquer lugar, a qualquer hora. Trabalhamos com psiquiatras e neurologistas com vasta experiência, que utilizam as mais avançadas abordagens terapêuticas para atender crianças, adolescentes e adultos.</p>

    <div class="img">
      <img src="sobre/pexels-kos-chiropractic-integrative-health-716706805-19034027.jpg" alt="">
    </div>

    <p>Nosso centro de atendimento online está sempre disponível para tirar dúvidas, esclarecer questões e garantir que nossos pacientes tenham o suporte necessário ao longo de todo o processo de consulta e tratamento. Além disso, contamos com uma comunidade ativa e acolhedora, onde nossos pacientes podem trocar experiências, encontrar apoio e sentir-se compreendidos em suas jornadas de cuidados com a saúde.</p>

    <div class="img">
      <img src="sobre/pexels-shkrabaanthony-5217851.jpg" alt="">
    </div>

    <p>Aqui, você encontra o que há de melhor em atendimento médico especializado, aliado à conveniência da telemedicina, para que sua saúde mental e neurológica seja cuidada com respeito, atenção e tecnologia de ponta.</p>
  </section>
</main>
