main {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 360px;
  max-width: 640px;
  margin: auto;

  h1 {
    color: green;
  }
}

.img {
  min-width: 360px;
  max-width: 640px;
  margin: auto;

  img {
    width: 100%;
  }
}
