<app-carrossel id="carrossel"></app-carrossel>

<main>
<!-- Importando icones -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="sessoes">
<!-- Sessão PSIQUIATRA -->
<section class="sessao1">
    <h2>PSIQUIATRA</h2>
    <P>Psiquiatria é a especialidade médica que estuda, diagnostiica, trata e previne distúrbios mentais, emocionais e comportamentais.</P>
    <a href="psiquiatria">Saiba mais</a>
</section>


<!-- Sessão NEUROLOGIA -->
<section class="sessao2">
    <h2>NEUROLOGIA</h2>
    <p>Neurologia é a especialidade médica que estuda, iagnostica e trata distúrbios do sistema nervoso.</p>
    <a href="/neurologia">Saiba mais</a>
</section>


<!-- Sessão NEUROLOGIA PEDIÁTRICA -->
<section class="sessao3">
    <h2>NEUROLOGIA PEDIÁTRICA</h2>
    <P>Neurologia pediátrica é a especialidade médica que estuda, diagnostica e trata distúrbios do sistema nervoso em crianças e adolescente.</P>
    <a href="/neurologia-pediatrica">Saiba mais</a>
</section>
</div>

<div class="adicionais">
<!-- Agendar Consulta Online -->
<div class="agenda">
    <h3>&gt; Agende sua consulta online <a href="/agendar">Saiba mais</a></h3>
</div>

    <!-- Informações adicionais -->
<section class="informacoes">
  <h1>Cuide bem da sua saúde</h1>
  <aside class="add">
      <span class="material-icons">chate</span>
      <h2>Central de Atendimento</h2>
      <p>Conte com o nosso suporte para tirar dúvidas a respeito as consultas e outros disponíveis em nosso site.</p>
      <a href="/contato">Saiba mais</a>
  </aside>

  <aside class="add">
      <span class="material-icons">account_circle</span>
      <h2>Quem Somos?</h2>
      <p>Apresentamos nossa missão de oferecer apoio e cuidados a pessoas com questões psiquiátricas. Somos uma plataforma dedicada a conectar indivíduos com uma comunidade acolhedora e profissionais qualificados.</p>
      <a href="/sobre">Saiba mais</a>
  </aside>

  <aside class="add">
      <span class="material-icons">medical_services</span>
      <h2>Especialidades Médicas</h2>
      <p>Nossa plataforma oferece uma variedade de especialidades médicas, conectando você a profissionais qualificados em diversas áreas da saúde</p>
      <a href="/espec">Saiba mais</a>
  </aside>
</section>
  </div>

</main>


