<main>
  <div class="perfil">
    <div class="foto">
      <img [src]="fotoMedico" alt="Foto do médico" id="foto_medico">
      <label for="nova_foto">Alterar foto</label>
      <input type="file" id="nova_foto" (change)="onFotoChange($event)" accept="image/*">
    </div>
    <div class="informacoes">
      <h2>{{ nomeMedico }}</h2>
      <p>{{ especialidadeMedico }}</p>
      <p>{{ crmMedico }}</p>
      <button (click)="onEditarClick()">Editar informações</button>
      <button (click)="onLogout()"><a href="/login-medico">Sair</a></button>
    </div>
  </div>

  <div class="modal" *ngIf="showModalEditar">
    <form [formGroup]="editarForm" (ngSubmit)="onSaveClick()">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome"><br><br>
      <label for="especialidade">Especialidade:</label>
      <select id="especialidade" formControlName="especialidade">
        <option value="Psiquiatra">Psiquiatra</option>
        <option value="Neurologista">Neurologista</option>
      </select><br><br>
      <label for="crm">CRM:</label>
      <input type="text" id="crm" formControlName="crm"><br><br>
      <button type="submit" [disabled]="editarForm.invalid">Salvar alterações</button>
    </form>
  </div>

  <div class="modal" *ngIf="showModalLogin">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()">
      <label for="email_login">E-mail:</label>
      <input type="email" id="email_login" formControlName="email"><br><br>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <button (click)="onCadastrarClick()">Cadastrar</button>
    </form>
    <p id="msg_erro" *ngIf="msgErro" style="color: red;">{{ msgErro }}</p>
  </div>

</main>
